<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obra</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="..//css/styles.css">
    <link rel="stylesheet" href="..//css/obra.css">

    <!-- Scripts -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
    </style>

    <!-- Parallax Scrolling -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <!-- Progress bar -->
    <!-- <link rel="stylesheet" href="js/progressbar.min.js"> -->


</head>

<body>
    <header>
        <div class="container" id="nav-container">
            <nav class="navbar navbar-expand-lg fixed-top">
                <!-- Aqui vai um container -->
                <a class="navbar-brand" href="#"><img src="..//img/logo100.png" alt="Logo empresa" id="logo">LC BR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

                    <div class="nav-item">
                        <a class="nav-link" aria-current="page" href="./base.html" id="home-menu"
                            style="color: rgb(226, 44, 44);">Home</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./sobre.html" id="agencia-menu">Institucional</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./area_atuacao.html" id="servicos-menu">Áreas de Atuação</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./projetos.html" id="time-menu">Obras</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./area_atuacao.html" id="projetos-menu">Compliance</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./contatos.html">Contato</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-whatsapp"></i></a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container py-3">
            <div class="title h1 text-center">
                <h1>Construção do Hospital Regional de Nova Odessa</h1>
            </div>
            <!-- Card Start -->
            <div class="card">
                <div class="row ">

                    <div class="col-md-7 px-3">
                        <div class="card-block px-6">
                            <h4 class="card-title">Horizontal Card with Carousel - Bootstrap 4 </h4>
                            <p class="card-text">
                                The Carousel code can be replaced with an img src, no problem. The added CSS brings
                                shadow to the card and some adjustments to the prev/next buttons and the indicators is
                                rounded now. As in Bootstrap 3
                            </p>
                            <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move
                                the carousel div above the col containing the text for left alignment of images</p>
                            <br>
                            <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
                        </div>
                    </div>
                    <!-- Carousel start -->
                    <div class="col-md-5">
                        <div id="CarouselTest" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-bs-target="#CarouselTest" data-slide-to="0" class="active"></li>
                                <li data-bs-target="#CarouselTest" data-slide-to="1"></li>
                                <li data-bs-target="#CarouselTest" data-slide-to="2"></li>

                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block" src="https://picsum.photos/450/300?image=1072" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block" src="https://picsum.photos/450/300?image=855" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block" src="https://picsum.photos/450/300?image=355" alt="">
                                </div>
                                <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End of carousel -->
                </div>
            </div>
            <!-- End of card -->

        </div>



        <br>
        <br>


    </main>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>